#JobCenter{
    margin-top: 150px;
}

#JobCenter .container{
    
    .nav .active{
        color:white;
        background: #dc3545;
    }
    .nav-link{
        color:#343a40;
    }
    .nav-tabs {
        border-bottom: 2px solid #dc3545;
    }
}


