canvas{
    width: 100%;
    max-width:400px;
    height:200px;
    margin-left: 12;
    margin-right: auto;
}
canvas:hover {
cursor: crosshair;
}

@media (min-width: 500px) { 
    canvas{
        margin-left:calc(50% - 220px)
    }
 }

 .Close-btn{
    width :25px;
    height :25px;
    font-size: 20px;
    position:absolute;
    top:0;
    right:6vw;
 }

 .Close-btn span{
   
    position:absolute;
    top:-3px;
    right:6px;
 }


 #close2 .Close-btn{
    width :40px;
    height :40px;
    font-size: 20px;
    position:absolute;
    top:0;
    right:6vw;
 }

 .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}