canvas{
    width: 100%;
    max-width:400px;
    height:200px;
    margin-left: 12;
    margin-right: auto;
}
canvas:hover {
cursor: crosshair;
}

@media (min-width: 500px) { 
    canvas{
        margin-left:calc(50% - 220px)
    }
 }

 .Close-btn{
    width :40px;
    height :40px;
    font-size: 20px;
    position:absolute;
    top:0;
    right:6vw;
 }


 #close2 .Close-btn{
    width :40px;
    height :40px;
    font-size: 20px;
    position:absolute;
    top:0;
    right:6vw;
 }